{% extends 'main.html' %}
{% load static %}
{% block content %}


<div style="color: aliceblue;" class="g-container">
    <div class="gp">
        <div class="c">
            <div class="sender">
                <img src="./static/images/icons/person.svg" alt="">
            </div>
            {{post.creater}} posted this
        </div>
       {{post.body}}
       <p>Responce</p>
       {% if comments %}
       {% for comment in comments%}

       <div class="group-topics">
        <div style="overflow-y: hidden;" class="group-topic">
            <div class="topic-h">
                <div style="display: flex; width: 100%;" class="av">
                    <div class="avarter">
                        <img src="./static/images/icons/person.svg" alt="user">
                        
                    </div>
                    <div style="display: flex; justify-content: space-between; width: 90%;">
                        <div>
                            <small style="margin-left:4px ;"><b>@{{ comment.creater }}</b></small>
                        </div>
                        
                        <div style="float: l;"><small><a href="{% url 'text-post-view-cmdelete' comment.id %}">delete</a></small></div>
                       
                    </div>
                    
                    

                </div>
            </div>
            <div class="topic-ov">
                <p>
                    {{ comment.text }}
                </p>
               
            </div>
            <div class="topic-ft">
                <small>{{ comment.created|timesince }}</small>
            </div>
        </div>
        {% endfor%}
        </div>
        
        {% else %}
        <div>be the first one to comment</div>
        {% endif%}
        
    </div>
    
   
</div>
       
     
<div style="position: absolute; left: 30%; width: 40%;">
    <form action="" method="post">
        {% csrf_token %}
        <div style="display: flex;" class="group">
         <input type="text" name="comment" placeholder="comment" class="form-control" id="">
         <button class="btn btn-light" type="submit">send</button>
        </div>
       
    </form>
   </div>
       
                



       
       
</div>
{% endblock%}