{% extends 'main.html' %}
{% block content%}

<style>
    .page{
      display: grid;
      grid-template-columns: 16rem auto 16rem;
      gap: 2rem;
    }
    .update-form{
color: black;
    }
    @media screen and (max-width:900px) {
      .right-side{
        display: none;
      }
      .page{
        grid-template-columns: 16rem auto;
        gap: 1rem;
      }
      .row{
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: 600px) {
      .page{
          display: flex;
          flex-direction: column;
          padding: 1rem;
      }
      .left-side{
          display: none;
      }
    }
     
    </style>
    <div style="margin-top: 4rem;" class="page bg-light">
      <div style="background-color: rgb(240, 243, 245);" class="left-side">
        <div class="container">
            <div class="auth-photo me-2">
            
                <div style="width: 70px;height: 70px;" class="photo me-2">
                   
                    
                </div>
        <small class="text-white"><span>@</span>
           
            </div>
            <h3>{{user.first_name}}</h3>
        </div>
       
      </div>
      
          <div class="update-form">
      <div>
      
              <form method="post" enctype="multipart/form-data" class="row g-3">
                  <h3>Sign up</h3>
                  {% csrf_token %}
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">First Name</label>
                    {{form.first_name}}
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Last Name</label>
                    {{form.last_name}}
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Email Address</label>
                    {{form.email}}
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Username</label>
                    {{form.username}}
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">Password</label>
                    {{form.password1 }}
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Confirm Password</label>
                    {{form.password2}}
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">Institution</label>
                    {{form.institution}}
                  </div>
                 
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City/Town</label>
                    {{form.town}}
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Level</label>
                    {{form.level}}
                  </div>
                   <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                  </div>
                </form>
          </div>
          </div>
          
      <div class="right-side">
          <h1>right</h1>
      </div>

<script>
    let inputs = document.querySelector('#id_password1');
    let input = document.querySelector('#id_password2');
    inputs.className='form-control'
    input.className='form-control'
</script>
{% endblock %}